.vp-doc a {
    text-decoration: none;
}
h1 {
    background: -webkit-linear-gradient(-45deg, #e43498 5%, #7d21ff 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }