.vp-doc a {
    text-decoration: none;
}

h1 {
    background: -webkit-linear-gradient(-45deg, #ff00ff 5%, hsl(267, 100%, 50%) 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --vp-c-brand-1: #008cff;
    --vp-c-brand-2: #008cff;
    --vp-c-brand-3: #008cff;
}
  
.dark {
    --vp-c-brand-1: #008cff;
    --vp-c-brand-2: #008cff;
    --vp-c-brand-3: #008cff;
}